* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: #1e1e1e;
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 100vh;  
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}
.main-title {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}  
ul {
  list-style: none;
}  
.main-navigation {
  height: 40px;
  margin: 40px auto;
  background-color: rgba(23, 23, 50, 0.7);
  text-align: center;
  border-radius: 4px;
}
.main-navigation_list {
  display: flex;
  justify-content: center;
}
.main-navigation_item {  
  margin-left: 2%;
}
.main-navigation_link{
  border-left:1px solid rgba(23, 23, 50, 1);
}
.main-navigation_link:last-child{
  border-right:1px solid rgba(23, 23, 50, 1);
}
.main-navigation_link, .drop_item a  {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;  
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;  
  font-family: "Raleway", sans-serif;
} 
.drop_list {
  display: none;
} 
.drop_list .drop_item {
  opacity: 0;
  transform-origin: top center;
}
  
.drop_list .drop_item a {
  background-color: rgba(23, 23, 50, 0.7);
  padding: 10px 0;
} 
.main-navigation_link:hover,
.drop_item a:hover {
  background-color: #2130b479;
}   
.drop_list .drop_item:first-of-type {
  animation: menu 0.3s ease-in-out forwards;
  animation-delay: 0.1s;
}
  
.drop_list .drop_item:nth-of-type(2) {
  animation: menu 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
}
  
.drop_list .drop_item:nth-of-type(3) {
  animation: menu 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
  
.drop_list .drop_item:last-of-type {
  animation: menu 0.3s ease-in-out forwards;
  animation-delay: 0.8s;
}
  
@keyframes menu {
0% {  
  opacity: 0;
  transform: translateX(50px) rotate(-120deg);
  }
100% {  
  opacity: 1;
  transform: translateX(0) rotate(0);
  }
}
 


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  margin-right: 16px;  
  vertical-align: middle;
  text-transform: uppercase;
  border: none;  
  padding: 10px 15px;
  position: relative;  
  text-decoration: none;  
  background-color: rgba(2, 2, 182, 0.788);
  color: #fff;    
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.button:hover,
.button:focus,
.button:active {
  background-color:rgba(44, 44, 182, 0.7);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bg-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);  
}
.modal {
  position: fixed;
  display: none;
  color: #fff;  
  background-color: rgba(23, 23, 50, 0.9);  
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-show {
  display: block; 
  animation: bounce 0.6s;
}
.modal-login {
  top: 120px;
  left: 50%;
  width: 500px;
  margin-left: -230px;
  padding: 50px 80px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-description {
  margin: 0;
  margin-bottom: 10px;
}
.login-form p {
  margin: 0;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f4f3f9;
  border: 1px solid #000000;
}
.login-form input:focus {
  border-color: #1d1566;
}
.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #1004b8;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #0014c5;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.restore {
  color: #000000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  text-decoration: none;
}
.login-form .button {
  width: 100%;
  margin-right: 0;
}